Repository mind-inria/hidimstat, pull requests merged in 2025-04, with the labels that each got.

#224 Fix bibliography
  doc_conf/api.rst
  doc_conf/references.bib
  examples/plot_2D_simulation_example.py
  examples/plot_fmri_data_example.py
  examples/plot_knockoff_aggregation.py
  src/hidimstat/__init__.py
  src/hidimstat/clustered_inference.py
  src/hidimstat/dcrt.py
  src/hidimstat/desparsified_lasso.py
  src/hidimstat/ensemble_clustered_inference.py
  src/hidimstat/gaussian_knockoff.py
  src/hidimstat/knockoffs.py
  src/hidimstat/leave_one_covariate_out.py
  src/hidimstat/multi_sample_split.py
  src/hidimstat/noise_std.py
  src/hidimstat/permutation_importance.py
  src/hidimstat/utils.py
Labels: documentation

#173 Move annexe files in folder utils and statistical tools
  examples/plot_2D_simulation_example.py
  examples/plot_dcrt_example.py
  examples/plot_fmri_data_example.py
  examples/plot_knockoff_aggregation.py
  examples_not_exhibited/plot_meg_data_example.py
  src/hidimstat/__init__.py
  src/hidimstat/_utils/__init__.py
  src/hidimstat/_utils/regression.py
  src/hidimstat/_utils/scenario.py
  src/hidimstat/_utils/utils.py
  src/hidimstat/adaptative_permutation_threshold_SVR.py
  src/hidimstat/base_perturbation.py
  src/hidimstat/data_simulation.py
  src/hidimstat/dcrt.py
  src/hidimstat/desparsified_lasso.py
  src/hidimstat/ensemble_clustered_inference.py
  src/hidimstat/knockoffs.py
  src/hidimstat/permutation_test.py
  src/hidimstat/scenario.py
  src/hidimstat/statistical_tools/__init__.py
  src/hidimstat/statistical_tools/aggregation.py
  src/hidimstat/statistical_tools/multi_sample_split.py
  src/hidimstat/statistical_tools/multiple_testing.py
  src/hidimstat/statistical_tools/p_values.py
  src/hidimstat/utils.py
  test/_utils/test_regression.py
  test/_utils/test_scenario.py
  test/statistical_tools/test_aggregation.py
  test/statistical_tools/test_mulitple_testing.py
  test/statistical_tools/test_multi_sample_split.py
  test/statistical_tools/test_p_values.py
  test/test_adaptative_permutation_threshold_SVR.py
  test/test_clustered_inference.py
  test/test_data_simulation.py
  test/test_desparsified_lasso.py
  test/test_empirical_thresholding.py
  test/test_ensemble_clustered_inference.py
  test/test_knockoff.py
  test/test_noise_std.py
  test/test_permutation_test.py
Labels: management of project, API 1

#218 Conditional vs marginal importance on the XOR dataset
  examples/plot_conditional_vs_marginal_xor_data.py
Labels: examples

#234 Improve docstring of knockoff
  src/hidimstat/knockoffs.py
Labels: documentation

#229 Add classification example on the iris dataset
  examples/plot_importance_classification_iris.py
Labels: examples

#243 Remane PermutationImportance to PermutationFeatureImportance
  doc_conf/api.rst
  examples/plot_diabetes_variable_importance_example.py
  examples/plot_importance_classification_iris.py
  examples/plot_pitfalls_permutation_importance.py
  examples/plot_variable_importance_classif.py
  src/hidimstat/__init__.py
  src/hidimstat/base_perturbation.py
  src/hidimstat/permutation_feature_importance.py
  test/test_permutation_feature_importance.py
Labels: management of project

#214 circleci
  .circleci/config.yml
  .github/workflows/build_docs.yml
  build_tools/circle/push_doc.sh
Labels: management of project

#233 Remove example based on complex simulated data
  examples/plot_variable_importance_classif.py
Labels: examples

#236 Knockoffs example - follow-up
  examples/plot_knockoffs_wisconsin.py
Labels: examples

#156 EnCluDL(1/4): add comments and docstring of the functions
  doc_conf/api.rst
  doc_conf/references.bib
  examples/plot_2D_simulation_example.py
  examples/plot_fmri_data_example.py
  src/hidimstat/__init__.py
  src/hidimstat/_utils/bootstrap.py
  src/hidimstat/clustered_inference.py
  src/hidimstat/desparsified_lasso.py
  src/hidimstat/ensemble_clustered_inference.py
  src/hidimstat/knockoffs.py
  src/hidimstat/noise_std.py
  src/hidimstat/statistical_tools/aggregation.py
  src/hidimstat/statistical_tools/multi_sample_split.py
  test/statistical_tools/test_aggregation.py
  test/statistical_tools/test_multi_sample_split.py
  test/test_clustered_inference.py
  test/test_desparsified_lasso.py
  test/test_ensemble_clustered_inference.py
  test/test_noise_std.py
Labels: API 1
